@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: hsl(257, 40%, 49%);
  --btn-hover-color: #E880E8;
}

body {
  background-color: var(--bg-color);
  color: #fff;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Open Sans';
  background-image: url(../../assets/images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  max-width: 40%;
  margin: 60px 0 87px 0;
}

.title {
  font-family: 'Poppins';
  font-size: 40px;
  line-height: 1.5em;
}

.banner {
  max-width: 100%;
}

.article {
  text-align: center;
}

.text {
  font-weight: lighter;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: var(--bg-color);
  background-color: #fff;
  padding: 13px 63px 16px 64px;
  border-radius: 25px;
  margin: 25px 0 50px 0;
  box-shadow: 2px 4px 9px 3px #00000042;
}

.social {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.social__item {
  margin: 0 5px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27.5px;
  height: 28px;
}

.social__link {
  color: inherit;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1440px;
    background-image: url(../../assets/images/bg-desktop.svg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }

  .logo {
    width: 200px;
    /* margin-bottom: 100px; */
  }

  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .article {
    text-align: left;
    font-size: 1.45rem;
    margin-left: 100px;
  }

  .button:hover {
    background-color: var(--btn-hover-color);
    color: #fff;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .social__item:hover {
    border-color: var(--btn-hover-color);
    color: var(--btn-hover-color);
  }
}